<template>
    <canvas id='main-canvas'></canvas>
</template>

<script>
import startGame from '@/nengi-babylon/client/clientMain'
export default {
    name: 'GameComponent',
    mounted() {
        startGame();        
    }
}
</script>

<style>

</style>